<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% title %>
    </title>
</head>

<body>
    <h2> <%-include("nav")%></h2>
    <h2 class="users_title">Users</h2>
    <div class="users">

        <% if (users.length> 0) { %>
            <% users.forEach((user)=> { %>
                <div class="user">
                    <h3>
                        <a href="/users/<%= user.id %>">
                            <%= user.username %>
                        </a>
                    </h3>
                    <p>
                        <%= user.email %>
                    </p>
                    <p>
                        <%= user.message %>
                    </p>
                    <button class="delete-user" onclick="deleteUser(`<%= user.id %>`)">Delete</button>
                </div>



                <% }); %>
                    <% } %>
    </div>


</body>
<script>
    const deleteUser = (userid) => {
        fetch(`/users/${userid}`, { method: 'DELETE' })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                location.reload();
            })
            .catch(error => console.error(error));
    }
</script>

</html>